<div id="footer" class="py-4 bg-black mt-auto absolute">
  <%= image_tag 'logo-mini.png', class: 'mx-auto' %>
  <p class="text-white text-center leading-5 align-middle text-xl">
    © <%= Date.current.year %>
  </p>
</div>
