<footer class="bg-black mt-auto absolute">
  <p class="py-4 text-white text-center">
    © <%= Date.current.year %> the<span class="text-red-700">real</span>rod<span class="text-red-700">k</span>.dev
  </p>
</footer>
