<div id="footer" class="mt-auto absolute">
  <% if @all_tags.present? %>
    <h4 class="pl-2">
      All Tags:
    </h4>
  <% end %>

  <div class="p-2">
    <%= render 'shared/tags', tags: @all_tags %>
  </div>

  <div class="py-4 bg-black">
    <div class="flex justify-center">
      <%= link_to root_path do %>
        <%= image_tag 'logo-mini.png', class: 'mx-auto inline-block' %>
      <% end %>
    </div>

    <p class="text-white text-center leading-5 align-middle text-lg mt-2">
      © <%= Date.current.year %>
    </p>
  </div>
</div>
